* {
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

h1 {
  font-family: "Bree Serif", serif;
  color: white;
  font-size: 4rem;
}

h2 {
  color: white;
  font-size: 2.2rem;
  font-family: "Bree Serif", serif;
  margin-top: 4vh;
  margin-bottom: 3vh;
}

h3 {
  margin-top: 3vh;
  color: black;
  font-size: 1.8rem;
  font-weight: bold;
  font-family: "monserrat", serif;
  margin-bottom: 4vh;
}

h4 {
  color: white;
  font-family: "monserrat", serif;
}

ul {
  list-style: none;
}

ol {
  list-style: none;
  font-size: 1.3rem;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

p {
  font-size: 1rem;
  font-family: "monserrat", serif;
  margin-top: 2vh;
}
@media (min-width: 576px) {
  p {
    font-size: 1.2rem;
  }
}
@media (min-width: 992px) {
  p {
    font-size: 1.5rem;
  }
}

.fecha-show {
  color: white;
  margin-top: 6vh;
}

.letra-blanca {
  color: white;
}

.animation-h1 {
  animation-name: aparece-h1;
  animation-duration: 3s;
}

@keyframes aparece-h1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes color-instagram {
  0% {
    color: white;
  }
  50% {
    color: salmon;
  }
  100% {
    color: white;
  }
}
@keyframes color-facebook {
  0% {
    color: white;
  }
  50% {
    color: rgb(60, 60, 206);
  }
  100% {
    color: white;
  }
}
@keyframes color-spotify {
  0% {
    color: white;
  }
  50% {
    color: darkgreen;
  }
  100% {
    color: white;
  }
}
@keyframes color-youtube {
  0% {
    color: white;
  }
  50% {
    color: firebrick;
  }
  100% {
    color: white;
  }
}
@keyframes color-twitter {
  0% {
    color: white;
  }
  50% {
    color: rgb(24, 182, 182);
  }
  100% {
    color: white;
  }
}
.portada-cd {
  width: 50%;
}
@media (min-width: 992px) {
  .portada-cd {
    width: 30%;
  }
}
@media (min-width: 1200px) {
  .portada-cd {
    width: 25%;
  }
}

a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-family: "monserrat", serif;
  font-size: 0.8rem;
}
a:hover {
  color: red;
}
@media (min-width: 576px) {
  a {
    font-size: 1rem;
  }
}
@media (min-width: 992px) {
  a {
    font-size: 1.3rem;
  }
}

.foto-header {
  width: 100%;
}

footer li {
  font-size: 1.1rem;
}

.instagram {
  animation-name: color-instagram;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

.facebook {
  animation-name: color-facebook;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-delay: 1s;
}

.spotify {
  animation-name: color-spotify;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-delay: 2s;
}

.youtube {
  animation-name: color-youtube;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-delay: 3s;
}

.twitter {
  animation-name: color-twitter;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-delay: 4s;
}

footer {
  margin-top: 2vh;
}

body {
  background: linear-gradient(180deg, rgb(73, 80, 83) 25%, rgb(203, 203, 227) 70%, rgb(32, 32, 34) 100%);
}

.padding {
  margin-top: 3vh;
  margin-bottom: 3vh;
}

.carousel {
  padding-top: 5vh;
}

.indicaciones-grid {
  font-size: 1rem;
  margin-top: 3vh;
  margin-bottom: 1vh;
  margin-top: 2.2vh;
}
@media (min-width: 992px) {
  .indicaciones-grid {
    font-size: 1.3rem;
  }
}

@media (min-width: 992px) {
  .misemilla {
    margin-top: 5vh;
    margin-bottom: 3vh;
  }
}

.foto-index {
  width: 70%;
  margin-top: 2vh;
  margin-bottom: 2vh;
}
@media (min-width: 992px) {
  .foto-index {
    width: 50%;
    margin-top: 2vh;
    margin-bottom: 2vh;
  }
}
@media (min-width: 1200px) {
  .foto-index {
    filter: grayscale(100%);
    transition-duration: 3s;
  }
  .foto-index:hover {
    filter: grayscale(0%);
    scale: 1.2;
  }
}

.video-index {
  width: 50%;
}
@media (min-width: 992px) {
  .video-index {
    margin-bottom: 3vh;
  }
}
@media (min-width: 1200px) {
  .video-index {
    filter: grayscale(100%);
    transition-duration: 3s;
  }
}
.video-index:hover {
  filter: grayscale(0%);
}

/*# sourceMappingURL=style.css.map */
