$color-primario: white;
$color-secundario: black;
$color-terciario: red;
$color-instagram: rgb(231, 113, 100);
$color-facebook: rgb(60, 60, 206);
$color-spotify: darkgreen;
$color-youtube: firebrick;
$color-twitter: rgb(24, 182, 182);

$letra-primaria: "monserrat", serif;
$letra-secundaria: "Bree Serif", serif;

$color-letras:(
    deskarado: rgb(209, 93, 72),
    de-bichos-y-flores: rgb(180, 180, 128),
    a-contraluz: rgb(223, 223, 10),
    piel-y-hueso: rgb(235, 72, 50)
    );
@each $color-name, $color-value in $color-letras {
.bg-#{$color-name} {
    color: $color-value;
}
}

$color-nav-footer:(
    fondo-negro: rgb(29, 29, 29)
);
@each $color-name, $color-value in $color-nav-footer{
.bg-#{$color-name} {
        background: $color-value;
}
}