.indicaciones-grid{
    font-size: 1rem;
    margin-top: 3vh;
    margin-bottom: 1vh;
    margin-top: 2.2vh;
    @include desktop{
        font-size: 1.3rem;
    }
}

.misemilla{
    @include desktop{
        margin-top:5vh;
        margin-bottom: 3vh;
    }
}

label{
    font-family: $letra-primaria;
    font-weight: bold;
    font-size: 1.2rem;
        @include desktop{
            font-size: 1.5rem;
        }
}

input{
    border-radius: 10px;
    width: 70%;
    @include tablet{
        width: 50%;
    }@include medium{
        width: 40%;
    }@include desktop{
        width: 25%;
    }
}

textarea{
    border-radius: 10px;
}

.botoninput{
    margin-top: 5vw;
    width: 30%;
}

.boton{
    font-size: 0.6rem;
}