footer li{
    font-size: 1.1rem;
}

.icon{
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

.instagram{
    @extend .icon; 
    animation-name: color-instagram;
}

.facebook{
    @extend .icon;
    animation-name: color-facebook;
    animation-delay: 1s;
}

.spotify{
    @extend .icon;
    animation-name: color-spotify;
    animation-delay: 2s;
}

.youtube{
    @extend .icon;
    animation-name: color-youtube;
    animation-delay: 3s;
}

.twitter{
    @extend .icon;
    animation-name: color-twitter;
    animation-delay: 4s;
}

footer{
    margin-top: 2vh;
}