a{
    text-decoration: none;
    color:$color-primario;
    font-weight: bold;
    font-family: $letra-primaria;
    font-size: 0.8rem;
    &:hover{
        color:$color-terciario;
    }
    @include tablet{
        font-size: 1rem;
    }
    @include desktop{
        font-size: 1.3rem;
    }
}

button {
    background-color: $color-secundario;
    font-family: $letra-primaria;
    padding: 1vh;
    border-radius: 35%;
}