.animation-h1{
    animation-name: aparece-h1;
    animation-duration: 3s;
}

@keyframes aparece-h1{
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}

@keyframes color-instagram{
    0% {
        color: aliceblue;
    }
    50%{
        color: salmon;
    }
    100%{
        color: aliceblue;
    }
}

@keyframes color-facebook{
    0%{
        color: aliceblue;
    }
    50%{
        color: rgb(60, 60, 206);
    }
    100%{
        color: aliceblue;
    }
}

@keyframes color-spotify{
    0%{
        color: aliceblue;
    }
    50%{
        color: darkgreen;
    }
    100%{
        color: aliceblue;
    }
}

@keyframes color-youtube{
    0%{
        color: aliceblue;
    }
    50%{
        color: firebrick;
    }
    100%{
        color: aliceblue;
    }
}

@keyframes color-twitter{
    0%{
        color: aliceblue;
    }
    50%{
        color:rgb(24, 182, 182);
    }
    100%{
        color: aliceblue;
    }
}

.portada-cd{
    width: 50%;
    @include desktop{
        width: 30%;
    } @include extra-large{
        width: 25%;
    }
}