.animation-h1{
    animation-name: aparece-h1;
    animation-duration: 3s;
}

@keyframes aparece-h1{
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}

@keyframes color-instagram{
    0% {
        color: $color-primario;
    }
    50%{
        color: $color-instagram;
    }
    100%{
        color: $color-primario;
    }
}

@keyframes color-facebook{
    0%{
        color: $color-primario;
    }
    50%{
        color: $color-facebook;
    }
    100%{
        color: $color-primario;
    }
}

@keyframes color-spotify{
    0%{
        color: $color-primario;
    }
    50%{
        color: $color-spotify;
    }
    100%{
        color:$color-primario;
    }
}

@keyframes color-youtube{
    0%{
        color: $color-primario;
    }
    50%{
        color: $color-youtube;
    }
    100%{
        color: $color-primario;
    }
}

@keyframes color-twitter{
    0%{
        color: $color-primario;
    }
    50%{
        color: $color-twitter;
    }
    100%{
        color: $color-primario;
    }
}

.portada-cd{
    width: 50%;
    @include desktop{
        width: 30%;
    } @include extra-large{
        width: 25%;
    }
}